<footer>
    <div class="f-info">
        <div class="f-social">
            <a href=""><i class="icon fa-brands fa-square-facebook"></i></a>
            <a href=""><i class="icon fa-brands fa-square-instagram"></i></a>
            <a href="https://www.linkedin.com/in/rohit-sharma-36583729a/" target="_blank"><i class="icon fa-brands fa-linkedin"></i></a>
        </div>
        <div class="f-companyname">&copy;Wanderlust pvt lmt</div>
        <div class="f-links">
            <a href="/privacy">Privacy&nbsp;</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>