<% layout("/layouts/boilerplate")  %>

<div class="row mt-3">
    <h2 class="col-6 offset-3">Create Account</h2>
    <div class="col-6 offset-3">
        <form action="/signup" method="POST" class="needs-validation mt-3" novalidate>
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" placeholder="Select Username" name="username" class="form-control" required>
                <div class="invalid-feedback">select a username!</div>
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" placeholder="Email address" name="email" class="form-control" required>
                <div class="invalid-feedback">Enter a valid email address</div>
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" placeholder="Create password" name="password" class="form-control" required>
                <div class="invalid-feedback">Create a password</div>
            </div>

            <button class="btn btn-dark mt-3">Sign up</button>
        </form>
    </div>
</div>